<div class="page-header">
  <h3>Blog Settings</h3>
</div>

<div class="row">
  <form action="" class="form-inline">
    <label for="">Blog Name</label>
    <input type="text" class="form-control" ng-model="blog_name_new" value="{{blog_name}}">
    <button ng-click="saveBlogName()" class="btn btn-primary">Save</button>
  </form>
</div>
<hr>
<diw class="row">
  <h4>Blog Description</h4>
  <p>To Make a description for the blog. Create a post titled "About"</p>
</diw>

<div class="row">
  <h4>Change Theme</h4>
  <div class="row themes">
    <div class="col-sm-6 col-md-4" ng-repeat="theme in themes">
      <div class="thumbnail">
        <img ng-src="{{theme.img}}" alt="Theme image" title="{{theme.name}} Image" >
        <div class="caption">
          <h3>{{theme.name}}</h3>
          <p>{{theme.description}}</p>
          <p>
          <a ng-href="" ng-click="changeTheme(theme.tag)" class="btn btn-primary" role="button" ng-class="{'disabled' :theme.tag == currentTheme }">Activate Theme</a>
        </div>
      </div>
    </div>
  </div>
</div>



