<div ng-switch on="action">
  <h1 ng-switch-when="Edit">Edit post</h1>
  <h1 ng-switch-when="Create">Create a new Post</h1>
  <h1 ng-switch-when="draft">Edit Draft</h1>
</div>
<div class="row-fluid">
  <div class="create-form col-md-8">
    <form ng-submit="newPost()">
      <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control input-lg" id="postTitle" placeholder="Post title" ng-model="newPostTitle">
      </div>
      <div class="form-group">
        <label for="postBody">Post</label>
        <textarea name="" id="postBody" rows="20" placeholder="Post body" class="form-control" ng-model="newPostBody"></textarea>
      </div>
      <div class="form-group">
        <label for="postTags">Tags</label>
        <input type="text" name="tags" id="postTags" placeholder="tags" class="form-control"  ng-model="tags">
        <p class="help-block">seperate tags with a comma</p>

      </div>
      <ng-switch on="action">
        <div ng-switch-when="Create">
          <button class="btn btn-primary" type="submit">Publish</button>
          <a ng-href="#" class="btn btn-info" ng-click="draft()">Save as draft</a>
          <a ng-href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
        </div>
        <div ng-switch-when="Edit">
          <button class="btn btn-primary" type="submit">Save Edits</button>
        </div>
        <div ng-switch-when="draft">
          <button class="btn btn-primary" type="submit">Publish</button>
          <a href="#" class="btn" ng-click="saveDraft()">Save</a>
          <a href="#" class="btn btn-danger" ng-click="deleteDraft()">Delete</a>
        </div>
      </ng-switch>
      
    </form>
  </div>
  <div class="new-post-preview col-md-4">
    <h3>Preview</h3>
    <div markdown="newPostBody" id="preview"></div>
  </div>
</div>
