<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h3>Log in to continue</h3>
		<form ng-submit="login" class="form">
			<div class="form-group">
					<label for="">Username</label>
					<input type="text" class="form-control" ng-model="username">
				
			</div>
			<div class="form-group">
					<label for="">Password</label>
					<input type="password" class="form-control" ng-model="password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
	
</div>
