<div class="row">
	<div class="post col-md-10">

		<div class="post-title">
			<div class="post-date pull-right">{{post.date | date}}</div>
			<h1>{{post.title}}</h1>
			<hr>
		</div>
		<div class="post-body">
			<div ng-bind-html="post.body" tex="post.body"></div>
		</div>
	</div>
	<div class="sidebar col-md-2" >
		<div class="row controlls" ng-show="auth">
			<a ng-href="/admin/edit/{{post.slug}}" class="btn btn-warning">Edit</a>
			<a ng-href="#" ng-click="deletePost()" class="btn btn-danger">Delete</a>
		</div>
		<div class="row">
		</div>
	</div>
</div>

