<h1>All Posts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>Title</td>
      <td>Post Date</td>
      <td>Tags</td>
      <td>Actions</td>
    </tr>
  </thead>
  
  <tr ng-repeat="post in posts | orderBy:'title'">
    <td><input type="checkbox"></td>
    <td><a href="/post/{{post.slug}}" target="_self">{{post.title}}</a></td>
    <td>{{post.date | date}}</td>
    <td>
      <span ng-repeat="tag in post.tags">
        <a href="/tag/{{tag}}" target="_self" class ="label label-primary tag" >{{tag}}</a> 
      </span>
    </td>
    <td><a href="/admin/edit/{{post.slug}}" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger" ng-click="deletePost()">Delete</a></td>
  </tr>
</table>
